@CHARSET "ISO-8859-1";
body {
    background-image: url(10.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right top;
    background-attachment: fixed;
}

